/* generics */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* utilities */

[class*="col"] {
  border: 1px solid red;
}

.ms-min-h-80 {
  min-height: 80px;
}

.ms-min-h-200 {
  min-height: 200px;
}

.ms-max-h-100 {
  max-width: 100px;
}

/* content */

#jumbotron {
  background-image: url(../img/jumbo-bg.png);
  background-size: cover;
  min-height: 700px;
}

#returnal-banner {
  width: 300px;
}
