/* generics */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* utilities 

[class*="col"] {
  border: 1px solid red;
} */

.ms-bg-grey {
  background-color: #1f1f1f;
}

.ms-bg-beige{
  background-color: #bebcbb;
}

.ms-bg-blue{
  background-color: #161c3b;
}


.ms-min-h-200 {
  min-height: 200px;
}

.ms-max-h-100 {
  max-width: 100px;
}

.ms-max-h-200 {
  max-width: 200px;
}


.ms-big-font{
  font-size: 3rem;
}



/* content */

.lens{
  width: 20px;
}


#jumbotron .container-fluid {
  background-image: url(../img/jumbo-bg.png);
  background-size: cover;
  background-position-x: center;
  min-height: 700px;
}

#returnal-banner {
  width: 300px;
}

.row-cards img {
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .none {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  #description > * {
    flex-grow: 1;
  }
}


.ms-border-bottom{
  border-bottom: 3px solid #3790d8;
}

.ms-opacity{
  opacity: 0.5;
}

.ms-opacity:hover{
  opacity: 1;
  border-bottom: 3px solid #3790d8;
}

#simil-jumbotron .container-fluid {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-size: cover;
  background-position-x: center;
  min-height: 700px;
}

#nuove-uscite .container-fluid .row .card {
  background-color: #1f1f1f;
}

#ecco-play4 .container-fluid .row .card {
  border: 0;
}

@media screen and (max-width: 767px) {
    #april img{
      display: none;
    }

    #april-logo{
      max-width: 250px;
    }
}

@media screen and (min-width: 768px) {
  
  #april-logo{
    max-width: 400px;
  }
}

.ms-vertical-align{
  display: flex;
  align-items: center;
}
